[effect_randomSmoke]
priority:verylow
xOffsetAbsoluteRandom:4
yOffsetAbsoluteRandom:4
frameIndex:0
stripIndex:effects
spawnChance:0.3
life:90
fadeOut:true
attachedToUnit:false
fadeInTime:5
scaleFrom:0.3
scaleTo:0.8
alpha:0.5
drawUnderUnits:false
liveAfterAttachedDies:false
hSpeed:0.4
xSpeedAbsoluteRandom:0.3
ySpeedAbsoluteRandom:0.3
dirOffsetRandom:360
atmospheric:true