[core]
copyFrom: ROOT:units/templates/effects/flame_effects.template
[projectile_fire1]
directDamage: 0
life: 0
speed:0
explodeOnEndOfLife:true
explodeEffect:NONE
deflectionPower:-1
spawnProjectilesOnExplode:fire2(recursionLimit=360),fire1(recursionLimit=360)
image:        SHARED:blank.png
delayedStartTimer:2
[projectile_fire2]
directDamage: 0
life: 100
speed:999999
explodeOnEndOfLife:true
deflectionPower:-1
spawnProjectilesOnExplode:fire3(recursionLimit=360)
explodeEffect:NONE
targetGround: true
image:        SHARED:blank.png
targetGroundSpread:60
[projectile_fire3]
life: 0
speed: 0
flameWeapon: true
hitSound: false
targetGround:true
deflectionPower: -1
areaDamage: 12
areaRadius: 20
explodeEffect: CUSTOM:hitFlame
effectOnCreate: CUSTOM:attachedFlame, CUSTOM:attachedLight
image:        SHARED:blank.png