[canBuild_setRally]
name: setRally
pos:  0.1
[canBuild_t1]
name: builderMechank, amphibiousBuilder, originalTank, mechank, originalScout, originalArtillery, lightPlasmaMechank, megaTank, hovercraft
pos:  1
