[canBuild_t3]
name: beamInterceptor, scytheJet, flyingFishHelicopter, heavyBeamInterceptor, flamewingBomber, heavyMissileAirship, nighthawkBomber, heavyAttacker
pos:  3
[canBuild_t3_experimental]
name: fireBeeHelicopter, frostBeeInterceptor, hellBeeGunShip
pos:  3.1
isLocked: if not self.hasUnitInTeam(withTag='techExperimental')
isLockedMessage: Needs experimental tech
isLockedMessage_zh: 需要实验科技
