[canBuild_t2]
name: outpostT1, extractorT2, landFactoryT2, airFactoryT2, seaFactoryT2, mechFactoryT2, laserDefenceT2, repairBayT2, fabricatorT2, turretT1Flame, turretT2Gun, turretT1Artillery, turretT1Lightning, turretT2AntiAir, turretT1Flak, turretT2Flame
pos: 2
