[canBuild_t3]
name: zealotTank, plasmaArtillery, plasmaFlameTank, prismTank, alertHoverTank, heavyPlasmaTank, beamonTank, silverMetalTank
pos:  3
[canBuild_t3_experimental]
name: heavyMissileTank, generalArtillery
pos:  3.1
isLocked: if not self.hasUnitInTeam(withTag='techExperimental')
isLockedMessage: Needs experimental tech
isLockedMessage_zh: 需要实验科技
