[canBuild_t3]
name: mechFlame, mechRailgun, mechRocketgun, mechSteelBall, mechFortress
pos:  3
isLocked: if not self.hasUnitInTeam(withTag='techExperimental')
isLockedMessage: Needs experimental tech
isLockedMessage_zh: 需要实验科技
