[canBuild_t3]
name: nautilusSubmarine, calamarySubmarine, heavyMissileShip, standardBattleship, lightCarrier, c_heavyBattleship
pos:  3
isLocked: if not self.hasUnitInTeam(withTag='techExperimental')
isLockedMessage: Needs experimental tech
isLockedMessage_zh: 需要实验科技
