[core]
#switchPriceWithStreamingCost:true
#isBuilder:true
strictLevel=0
[global_resource_能源]
displayName: 能源
displayColor: #00c8ff
hidden: false
[global_resource_paratrooperCD]
displayName: 冷却时间
displayColor: #000000
hidden: true