[effect_hitFlame]
frameIndex: 3
stripIndex: projectiles
life: 40
fadeOut: true
attachedToUnit: false
color: #FFFFFF
scaleFrom: 0.67
scaleTo: 0.9
alpha: 1
drawUnderUnits:false
liveAfterAttachedDies: false
physics: true
ySpeedRelative:0.4
hSpeed: 0.3
alwayStartDirAtZero: true
dirOffset: 0
