[effect_lightSlowFade]
image: SHARED:light_50.png
life: 40
fadeOut: true
attachedToUnit: true
color: #FF0000
scaleFrom: 0.3
scaleTo: 0.2
alpha: 1.7
[effect_laserExplosion]
scaleTo:1
scaleFrom:0.5
image: ROOT:units/rust/shared/laser_explode.png
life: 40
fadeOut: true
attachedToUnit: true
color: #FF0000
dirOffsetRandom:360
alpha: 0.6
