[effect_projectilePassThough]
priority:high
frameIndex: 4
stripIndex: projectiles2
life: 20
fadeOut: true
attachedToUnit: false
#color: #BB99DD
scaleFrom: 1
scaleTo: 0.5
alpha: 1
drawUnderUnits:false
ySpeedRelative:2
atmospheric: true
