[effect_plasmaExplosion]
life: 60
xOffsetRelative: 0
yOffsetRelative: 0
hOffset: 0
dirOffset: 0
dirOffsetRandom:180
fadeInTime: 0
fadeOut: false
attachedToUnit: false
image: ROOT:units/shared/plasma_explode.png
total_frames: 9
animateFrameStart: 0
animateFrameStartRandomAdd: 1
animateFrameEnd: 8
animateFramePingPong: false
animateFrameSpeed: 0.3
animateFrameSpeedRandom: 0.12
alpha:0.6
[effect_lightSlowFade]
image: SHARED:light_50.png
life: 40
fadeOut: true
attachedToUnit: true
color: #63e6e8
scaleFrom: 0.7
scaleTo: 0.7
alpha: 0.5
drawUnderUnits:true
[effect_projectileTrail]
image: SHARED:light_50.png
life: 20
fadeOut: true
attachedToUnit: false
color: #63e6e8
fadeInTime:2
scaleFrom: 0.4
scaleTo: 0.4
alpha: 0.6
drawUnderUnits:true
[effect_projectileLight]
priority:veryhigh
image: SHARED:light_50.png
life: 100
fadeOut: true
attachedToUnit: true
color: #63e6e8
fadeInTime:2
scaleFrom: 0.8
scaleTo: 0.8
alpha: 0.6
drawUnderUnits:false
liveAfterAttachedDies: false
[effect_hitLightFlash]
priority:high
image: SHARED:light_50.png
life: 14
fadeOut: true
attachedToUnit: false
color: #63e6e8
scaleFrom: 1.8
scaleTo: 1.8
alpha: 0.6
drawUnderUnits:false
[effect_projectilePassThough]
priority:high
frameIndex: 4
stripIndex: projectiles2
life: 20
fadeOut: true
attachedToUnit: false
color: #FFFFFF
scaleFrom: 1
scaleTo: 0.5
alpha: 1
drawUnderUnits:false
ySpeedRelative:2
atmospheric: true