[core]
showInEditor:false
radius: 23
isBuilding: true
ignoreInUnitCapCalculation: false
#footprint used for collisions with units (left, up, right, down)
footprint: -1,-1,1,1
#used for placement, and placement of other buildings
constructionFootprint:-1,-1,1,1
buildingSelectionOffset: -14
[graphics]
icon_zoomed_out: ROOT:units/rust/shared/unit_icon_building_turret.png
[turret_1]
x: 0
y: 0
idleDir:0
turnSpeed: 2.9
turnSpeedAcceleration: 0.07
canShoot: false
[leg_1]
x: -3
y: 3
attach_x: -5
attach_y: 10
moveSpeed: 1.0
moveWarmUp:0.1s
rotateSpeed: 7
heightSpeed: 0.4
resetAngle:25
image_leg:  ROOT:units/rust/shared/leg.png
image_foot: ROOT:units/rust/shared/foot_verysmall.png
holdDisMin: 5
holdDisMax: 15
favourOppositeSideNeighbours: true
estimatingPositionMultiplier:0.7
[leg_2]
x: 3
y: 3
attach_x: 5
attach_y: 10
copyFrom: 1
[leg_3]
x: -3
y: -3
attach_x: -5
attach_y: -10
copyFrom: 1
[leg_4]
x: 3
y: -3
attach_x: 5
attach_y: -10
copyFrom: 1
[movement]
movementType: NONE
moveSpeed: 0
moveAccelerationSpeed: 0.07
moveDecelerationSpeed: 0.17
targetHeight:0
maxTurnSpeed: 1.0
turnAcceleration: 0.5
moveSlidingMode :false
moveIgnoringBody:false
reverseSpeedPercentage:1
