[core]
class: CustomUnitMetadata
radius: 29
isBio: false
softCollisionOnAll: 0
[graphics]
total_frames: 1
image:        ROOT:units/rust/shared/bunker_base.png
image_wreak:  ROOT:units/rust/shared/bunker_dead.png
image_turret: NONE
image_shadow: SHADOW:ROOT:units/rust/shared/bunker_base.png
shadowOffsetX:1
shadowOffsetY:1
teamColorsOnTurret:true
lock_body_rotation_with_main_turret: false
[attack]
turretRotateWithBody: true
[turret_1]
x: 0
y: 0
idleDir:0
turnSpeed: 2.9
turnSpeedAcceleration: 0.07
canShoot: false
[leg_1]
x: -22
y: 15
attach_x: -5
attach_y: 10
moveSpeed: 1.9
moveWarmUp:0.1s
rotateSpeed: 7
heightSpeed: 0.3
resetAngle:25
image_leg:  ROOT:units/rust/shared/leg.png
image_foot: ROOT:units/rust/shared/foot_verysmall.png
holdDisMin: 5
holdDisMax: 19
favourOppositeSideNeighbours: true
estimatingPositionMultiplier:0.7
[leg_2]
x: 22
y: 15
attach_x: 5
attach_y: 10
copyFrom: 1
[leg_3]
x: -22
y: -15
attach_x: -5
attach_y: -10
copyFrom: 1
[leg_4]
x: 22
y: -15
attach_x: 5
attach_y: -10
copyFrom: 1
[movement]
movementType: OVER_CLIFF
moveSpeed: 0.4
moveAccelerationSpeed: 0.07
moveDecelerationSpeed: 0.17
targetHeight:3
maxTurnSpeed: 1.0
turnAcceleration: 0.5
moveSlidingMode :false
moveIgnoringBody:false
reverseSpeedPercentage:1
