[core]
#switchPriceWithStreamingCost:true
#isBuilder:true
copyFrom: ROOT:/effect/状态显示.template
strictLevel=0
armourMinDamageToKeep:0
shieldRegen: 0
[global_resource_能源]
displayName: 能源
displayColor: #00c8ff
hidden: false
[global_resource_paratrooperCD]
displayName: 冷却时间
displayColor: #000000
hidden: true
[hiddenAction_addshield]
autoTrigger:if self.resource.addshield > 0 and not self.tags(includes='haveshield')
setUnitStats:maxShield=500,shield=500
setResourcesWithLogic: addshield=0
temporarilyAddTags:addshield
[hiddenAction_addshield2]
autoTrigger:if self.resource.shield == 0 and self.tags(includes='addshield')
setUnitStats:maxShield=0,shield=0
temporarilyRemoveTags:addshield
[hiddenAction_eup]
autoTrigger:if self.resource.eup > 0 and not self.tags(includes='noteup')
setUnitStats:shootDelayMultiplier=0.75,shootDamageMultiplier=1.5,moveSpeed=${movement.moveSpeed*1.5}
setResourcesWithLogic: eup=0,持续时间=70
temporarilyAddTags:eup
[hiddenAction_eup2]
autoTrigger:if self.resource.持续时间 > 0 and self.tags(includes='eup')
setUnitStats:shield+=5,hp+=5
addResources: 持续时间=-1
[hiddenAction_eup3]
autoTrigger:if self.resource.持续时间 == 0 and self.tags(includes='eup')
setUnitStats:shootDelayMultiplier=1,shootDamageMultiplier=1,moveSpeed=${movement.moveSpeed}
temporarilyRemoveTags:eup
[resource_addshield]
displayName: addshield
hidden: true
[resource_eup]
displayName: eup
hidden: true
[resource_持续时间]
displayName: 持续时间
hidden: true
[hiddenAction_tm]
autoTrigger:if self.numberOfUnitsInTeam(withTag="tm",greaterThan=0,incompleteBuildings=false,withinRange=300)
setUnitStats:armour=999999
temporarilyAddTags:htm
[hiddenAction_tm2]
autoTrigger:if not self.numberOfUnitsInTeam(withTag="tm",greaterThan=0,incompleteBuildings=false,withinRange=300)
setUnitStats:armour=0
temporarilyRemoveTags:htm




#tp
[action_CTP]
autoTrigger:if nearestUnit(withinRange=150, withTag='CTP', relation='own') != null and nearestUnit(withinRange=150, withTag='CTP', relation='own').hasActiveWaypoint()
fireTurretXAtGround: TP
fireTurretXAtGround_withTarget:nearestUnit(withinRange=150, withTag='CTP', relation='own').activeWaypointTarget
sendMessageTo: nearestUnit(withinRange=150, withTag='CTP', relation='own')
sendMessageWithData: tp=true
isVisible:false
[turret_TP]
x:0
y:0
size:0
canShoot:false
shoot_flame:CUSTOM:TP
projectile:TP
invisible: true
[projectile_TP]
directDamage: 0
life: 6000
color: #000000
speed:50000
deflectionPower: -1
instant:true
explodeEffect:CUSTOM:TP
targetGround:true
teleportSource:true
[effect_TP]
priority: critical
image: ROOT:贴图/传送.png
life: 210
scaleFrom: 0.5
scaleTo: 0.1
attachedToUnit: false
drawUnderUnits: false
dirOffset: 0
alpha:5
createWhenOffscreen:true