[action_heup]
price:  0
text: 状态提升(%{self.resource.持续时间}s)
description: 增加50%的伤害和移动速度\n-减少攻击间隔
buildSpeed: 0s
pos: 0.1
isAlsoViewableByAllies:  true
isAlsoViewableByEnemies:  true
displayType: infoOnlyStockpile


isActive:false
isVisible: if self.resource.持续时间 > 0

iconImage: ROOT:贴图/精英.png
