[canBuild_t2]
name: mechTransporter, mechEngineer, mechMinigun, mechHeavyBasic, mechLightning, mechBomber, mechAmphibious, mechHeavyMissile, mechPlasma, mechFlyingLanded, mechSiege, mechLaser
pos:  2
